body {
  background-color: rgba(250, 210, 210, 0.418);
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 150px;
  justify-content: space-evenly;
  justify-content: space-between;
}

h1 {
  font-size: 60px;
  color: black;
  font-style: oblique;
  text-align: center;
  font-weight: bold;
}

/* main {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 100px 1fr;
} */

#view-area {
}

#results {
  grid-column: 2/3;
  grid-row: 2/3;
}

#show-results-button {
}

button {
}
